<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5yQJ_CIaS7ZRH6kIMt02hmDU3XZF78SLxirV0OFA7ztwoIOopgYlMlyIjwnDZmKb0zgo&usqp=CAU" alt="logo" width="50" height="40">
    </a>
  </div>
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item active">
            <a href="#" class="nav-link"><%= current_user.fullname %></a>
          </li>
          <li class="nav-item active">
            <%= link_to "Home", items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", receipts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
