<div class="sell-btn">
  <%= link_to "sell an item", items_new_path, class: "create-item-btn" %>
</div
>
<div class="item-list">
  <h4><%= "RECCOMMENDED ITEMS FOR SALE" %></h4>
</div>


<div class="cards d-flex flex-wrap justify-content-around">
  <% @sorted_items.each do |item| %>
    <div class="card m-2" style="width: 25rem;">
      <div class="card-title">
        <% if item.photo.attached? %>
          <%= cl_image_tag(item.photo.key, width: 400, height: 300, crop: :fill)  %>
          <% end %>
          <h3><%= item.item_name %></h3>
        </div>
        <div class="card-body d-flex justify-content-between">
          <%# <li> %>
          <%= link_to "Details", item_path(item), class: "create-item-btn"%>
          <p><%= "$ #{item.price}" %></p>
          <%# </li> %>
      </div>
    </div>
  <% end %>
</div>
