<div class="detail-page d-flex justify-content-evenly mb-5 mt-1">
  <h2><%= "ITEM DETAILS" %></h2>
</div>
<div class="dp">
  <div class="container d-flex justify-content-start m-3">
    <% if @item.photo.attached? %>

      <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="description justify-content-start p-5 ">
    <% end %>

      <h4><strong><%= @item.item_name %></strong></h4>
      <p><strong>$<%= @item.price %></strong></p>
      <p><%= @item.description %></p>
      <p>Sold by: <%= @item.user.fullname %></p>
    </div>
  </div>

  <div class="container  m-2">
    <% if current_user == @item.user%>
      <p><%= link_to "edit item",  edit_item_path(@item),class: "create-item-btn"%></p>
      <p><%= link_to "Delete this listing",
        delete_item_path(@item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},class: "create-item-btn"%></p>
    <% else %>
      <p><%= link_to "buy Item", new_receipts_path(@item),data: { "turbo-method": :post }, class: "btn btn-primary"%></p>
    <% end %>
  </div>
</div>
