<h2 class="text-center my-4"><%= "ITEM DETAILS" %></h2>
<div class="dp" id="details-description-card">
  <div class="description d-flex m-5" >
    <div class="details-img">
      <% if @item.photo.attached? %>
        <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill, class: "details-img" %>
      <% end %>
    </div>
    <div class="container p-3">
      <div class="mb-5">
        <h4><strong><%= @item.item_name %></strong></h4>
        <p><strong><i class="fa-solid fa-sack-dollar"></i> <%= @item.price %></strong></p>
        <p><i class="fa-solid fa-caret-right"></i> <%= @item.description %></p>
        <p><i class="fa-regular fa-user"></i> <%= @item.user.fullname %></p>
      </div>

      <% if current_user == @item.user%>
        <div class="d-flex justify-content-end align-content-end">
            <%= link_to "Edit",  edit_item_path(@item),class: "create-item-btn"%>
            <%= link_to "Delete",
              delete_item_path(@item),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "create-item-btn warning"%>
        </div>
      <% else %>
        <div class="d-flex align-self-end justify-content-end">
            <%= link_to "Buy Item", new_receipts_path(@item),data: { "turbo-method": :post }, class: "create-item-btn"%>
        </div>
      <% end %>
    </div>
  </div>
    <div class="maps">
        <div style="width: 45%; height: 500px;" class="map"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
</div>
