<div id="reciept">
    <div class="d-flex justify-content-around mt-4">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address class="info">
                    <p><strong>Seller info</strong></p>
                     <i class="fa-regular fa-user"></i> <%=  @receipt.item.user.fullname %>
                     <br>
                        <i class="fa-solid fa-location-dot"></i> <%= @receipt.item.user.address %>
                        <br>
                        <i class="fa-regular fa-envelope"></i> <%=@receipt.item.user.email%>
                        <br>
                        <br>
                       <p><strong>Buyer info</strong></p>
                       <i class="fa-regular fa-user"></i> <%=  @receipt.user.fullname %>
                     <br>
                        <i class="fa-solid fa-location-dot"></i> <%= @receipt.user.address %>
                        <br>
                        <i class="fa-regular fa-envelope"></i> <%=@receipt.user.email%>
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-end info">
                <p><strong>Receipt info</strong></p>
                        <i class="fa-regular fa-calendar"></i> <em><%= @receipt.created_at.strftime("%d-%m-%Y") %></em>
                        <br>
                        <em>Receipt Number :<%= @receipt.id %></em>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="text-center">
                    <h1>Receipt</h1>
                </div>
                </span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <td>   </td>
                            <td>   </td>
                            <th class="text-center">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9"><em><%= @receipt.item.item_name %></em></h4></td>
                            <td>   </td>
                            <td>   </td>
                            <td class="col-md-1 text-center">$<%= @receipt.item.price %></td>
                        </tr>

                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                            </td>
                            <td class="text-center">
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>$<%= @receipt.item.price %></strong></h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
      <div style="width: 45%; height: 500px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
